.button-sy2{
    background: #580140;
    border-radius: 9px;
    width: 138px;
    height: 40px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}